h1, p {
  font-family: Arial, Helvetica, sans-serif;
}

.tableStyle {
  width: 100%;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.tableStyle35 {
  width: 35%;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.tdWidth25 {
  width: 25%;
}

.tdWidth30 {
  width: 30%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;  
}

.assocHealth {
  color:#247185;
  font-weight: bold;
  font-size: 20px;
  padding-left: 25px;
}

.tdWidth50Center {
  width: 50%;
  text-align: center;
}

.image250 {
  width: 250px;
}

.imageFiPhO {
  color: #8da71d;
  font-size: 74px;
  font-weight: bold;
  width: 25%;
  text-align: right;
  padding-right: 20px;
}

.alignLeft {
  text-align: left;
  font-size: 20px;
}

.tdHeaderLeft {
  width:75%;
  font-size: 32px;
  font-weight: bold;
  color: #247185;
}
.tdHeaderRight {
  width:25%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.tdAssocName {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
}
.tdAssocAddress {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
}